header {
  position: fixed;
  top: 0;
  height: auto;
  background-color: var(--p2);
  color: var(--p3);
  anchor-name: --header;
  z-index: 999;
  width: 100vw;
}
header > ul {
  position: fixed;
  position-anchor: --header;
  position-area: bottom span-all;
  width: 100vw;
  background-color: var(--p2);
  display: none;
  height: auto;
  overflow: hidden;
  animation: dropDown 1s ease-in;
}

#dropdown .ul-highlight {
  color: whitesmoke;
  background-color: var(--p4);
  font-weight: 700;
}

.ul-delight {
  background-color: transparent;
}

#dropdown > li {
  color: black;
  margin: 16px 32px;
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
}

.m {
  min-height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--p3);
}

.arrow {
  display: inline-block;
  width: 10px;
  height: 8px;
  margin-left: 8px;
  background-color: currentColor; /* Matches text color */

  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);

  transition: transform 0.3s ease;
}

.sub_dropdown_ul {
  display: none;
  height: auto;
  overflow: hidden;
  font-weight: 400;
  animation: subDrop 0.5s ease-in;
}

.sub_dropdown_li {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  margin: 8px 0;
}

.sub_dropdown_li a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

#h-left {
  height: auto;
  width: auto;
  padding: 12px 0px;
}

#h-down {
  width: 100%;
  background-color: var(--p3);
  color: white;
}

#h-left img {
  height: 70px;
  width: 70px;
}

#h-left h1 {
  display: block;
  flex: 1;
  font-weight: 900;
  margin-left: 8px;
  line-height: 1;
  text-align: center;
}

#h-left h2 {
  font-size: 8px;
}
